<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:fragment="head"><h1>Mix Tool</h1></div>
    <link rel="stylesheet"
          href="/Users/rasmushecter/Google Drev/Datamatikker/musicmathv4/src/main/resources/static/style1.css"
          th:href="@{style1.css}" />

</head>
<body>

<nav th:fragment="navigation">

    <link rel="stylesheet"
          href="/Users/rasmushecter/Google Drev/Datamatikker/musicmathv4/src/main/resources/static/style1.css"
          th:href="@{style1.css}" />

    <ul>

        <li><a href="/">Home</a></li>

        <li><a href="getCalculateBpm">Calculate Reverb Time</a></li>

        <li><a href="/getNoteFreq">Find Note Frequencies</a></li>

        <li><a href="/getToneGenerator">Find note by sound</a></li>

        <li><a href="/getFindScale">Find scale by notes</a></li>

        <li><a href="/getMusicTheory">Theory</a></li>



    </ul>

</nav>
</body>
</html>