<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:margin="http://www.w3.org/1999/xhtml"
      xmlns:form="http://www.w3.org/1999/xhtml">
<head>

    <div th:replace="fragments/fragments :: head"></div>
    <title>Home</title>


</head>
<body>

<nav th:replace="fragments/fragments :: navigation"></nav>

<center><h2><u>Calculate Reverb Time</u></h2></center>

<center>
    <p>Type in BPM</p>

    <form  th:action="@{/postCalculateBpm}" th:method="post">


            <input  th:type="number" th:name="bpm" th:placeholder="BPM"/>
        <input th:type="submit" value="Send" />



    </form>
</center>

</body>
</html>