<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:margin="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments/fragments :: head"></div>
    <title>Home</title>

</head>
<body>
<nav th:replace="fragments/fragments :: navigation"></nav>

    <title>Music Theory</title>
</head>
<body>
<p></p>
<center>
    <h1>Kvintcirklen</h1>
</center>
<table BORDERCOLOR="#FFFFFF" style="width:100%">
    <tr>
        <th>

            <font>

            Kvintcirklen er et redskab der bruges i harmonisering; den hjælper blandt andet med at definere tonika, dominant og subdominant.
            <p></p>
            På kvintcirklen er de tolv toner indskrevet med intervallet en kvint mellem hver tone. Der er to tonerækker langs kanten. Den yderste for dur og den inderste for mol. Rækkefølgen er:
            <p></p>
            Dur:	C	G	D	A	E	H	Fis/Ges	Des	As	Es	B	F <p></p>
            Mol:	a	e	h	fis	cis	gis	dis/es	b	f	c	g	d
            <p></p>
            Hvis man fortsætter rundt efter F, kommer man til C igen. Sammenhængen mellem de to rækker er den at de to tonearter, der ligger over for hinanden, er paralleltonearter.
            <p></p>
            Med en kvintcirkel kan man direkte se, hvad paralleltonearten til en kendt toneart er.<p></p>
            Man kan bruge den som en hjælp når der skal sættes faste fortegn i en melodi, og endelig kan den bruges i forbindelse med analyse af musik med dur/mol-tonalitet.
            <p></p>
            Ud fra kvintcirklen kan man finde beslægtede akkorder inden for en toneart. <p></p>Ud fra toneartens grundakkord, tonika, kan man finde dominanten ved at gå et skridt med uret,
            og man finder subdominanten ved at gå et skridt mod uret.<p></p> Akkorderne i de parallelle tonearter bruges også. Eksempelvis er det ret almindeligt at bruge en a-mol-akkord i musik der er skrevet i C-dur,
            da a-mol er Tonikaparallel (noteres "Tp").</font> <p></p>  <p style=" font-size:8pt; font-style:italic">Fra Wikipedia, den frie encyklopædi. </p><p></p>

        </th>
        <td>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Circle_of_fi
fths_deluxe_4_da.svg/600px-Circle_of_fifths_deluxe_4_da.svg.png">
            </td>
    </tr>
    <tr>
</table>

<p></p>

</body>
</html>